<header class="site-header">
  <div class="container">
    <a class="site-title" href="{{ '/' if page.url != '/' else '#home' }}">{{ site.name }}</a>
    <nav class="site-nav" aria-label="Primary">
      <a href="{{ '/#home' if page.url != '/' else '#home' }}" data-panel-link="home">Home</a>
      <a href="{{ '/#mathematics' if page.url != '/' else '#mathematics' }}" data-panel-link="mathematics">Mathematics</a>
      <a href="{{ '/#astronomy' if page.url != '/' else '#astronomy' }}" data-panel-link="astronomy">Astronomy</a>
      <a href="{{ '/#interests' if page.url != '/' else '#interests' }}" data-panel-link="interests">Interests</a>
      <a href="{{ '/#writings' if page.url != '/' else '#writings' }}" data-panel-link="writings">Writings</a>
    </nav>
  </div>
</header>
